{
    "swagger": "2.0",
    "info": {
      "title": "Social Tables API Gateway",
      "version": "4.0.0",
      "description": "The Social Tables API"
    },
    "host": "api.socialtables.com",
    "basePath": "/",
    "definitions": {
      "resultPaging-account-service": {
        "type": "object",
        "properties": {
          "after": {
            "type": "string",
            "description": "cursor for next page"
          },
          "before": {
            "type": "string",
            "description": "cursor for previous page"
          }
        }
      },
      "createUpdateAccountSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sf_account_id": {
            "type": "string",
            "maxLength": 18
          },
          "trial": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1
          },
          "plan_id": {
            "type": "string",
            "maxLength": 191
          },
          "payment_gateway": {
            "type": "string",
            "maxLength": 191
          },
          "payment_gateway_token": {
            "type": "string",
            "maxLength": 191
          }
        },
        "required": [
          "name"
        ]
      },
      "patchAccountSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sf_account_id": {
            "type": "string",
            "maxLength": 18
          },
          "trial": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1
          },
          "plan_id": {
            "type": "string",
            "maxLength": 191
          },
          "payment_gateway": {
            "type": "string",
            "maxLength": 191
          },
          "payment_gateway_token": {
            "type": "string",
            "maxLength": 191
          }
        }
      },
      "externalOauthProvidersSchema-account-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 191
          },
          "display_name": {
            "type": "string",
            "maxLength": 191
          },
          "lookup_name": {
            "type": "string",
            "maxLength": 18
          }
        },
        "required": [
          "id",
          "display_name",
          "lookup_name"
        ]
      },
      "externalOauthUserTokensSchema-account-service": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "maxLength": 191
          },
          "external_oauth_provider_id": {
            "type": "string",
            "maxLength": 18
          },
          "token": {
            "type": "string",
            "maxLength": 18
          },
          "refresh_token": {
            "type": "string",
            "maxLength": 18
          },
          "bearer_expiration": {
            "type": "string",
            "maxLength": 191
          },
          "refresh_expiration": {
            "type": "string",
            "maxLength": 191
          },
          "external_oauth_account_id": {
            "type": "string",
            "maxLength": 191
          },
          "external_oauth_user_name": {
            "type": "string",
            "maxLength": 191
          }
        },
        "required": [
          "user_id",
          "external_oauth_provider_id",
          "refresh_token",
          "bearer_expiration",
          "refresh_expiration"
        ]
      },
      "createUpdateInvitation-account-service": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "invited_by": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "maxLength": 191,
            "enum": [
              "pending",
              "accepted",
              "deleted"
            ]
          },
          "object_type": {
            "type": "string"
          },
          "object_id": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "context": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        },
        "required": [
          "email",
          "invited_by"
        ]
      },
      "acceptInvitationForNewUser-account-service": {
        "type": "object",
        "properties": {
          "invitation_code": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "required": [
          "invitation_code",
          "user_id"
        ],
        "additionalProperties": false
      },
      "acceptInvitationForExtantUser-account-service": {
        "type": "object",
        "properties": {
          "invitation_code": {
            "type": "string"
          },
          "new_user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "sortable_name": {
                "type": "string"
              },
              "addressable_name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "password": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "sortable_name",
              "addressable_name",
              "email",
              "password"
            ]
          }
        },
        "required": [
          "invitation_code",
          "new_user"
        ],
        "additionalProperties": false
      },
      "patchInvitation-account-service": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "invited_by": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "maxLength": 191,
            "enum": [
              "pending",
              "accepted",
              "deleted"
            ]
          },
          "object_type": {
            "type": "string"
          },
          "object_id": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "context": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "teamMigrationRequest-account-service": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "parent_team_id": {
              "type": "integer"
            },
            "descendant_team_ids": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "name": {
              "type": "string"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            },
            "sf_account_id": {
              "type": "string"
            }
          },
          "required": [
            "id",
            "name"
          ]
        }
      },
      "userTeamMigrationRequest-account-service": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "email_address": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "is_admin": {
                "type": "integer"
              },
              "team_id": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "sf_contact_id": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "auth_id": {
                "type": "integer"
              },
              "auth_type": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "email_address",
              "first_name",
              "last_name"
            ]
          },
          "password": {
            "type": "string"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "parent_team_id": {
                  "type": "integer"
                },
                "descendant_team_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "name": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "account_products": {
                  "type": "object"
                },
                "internal_account_settings": {
                  "type": "object"
                },
                "sf_account_id": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ]
            }
          }
        },
        "required": [
          "user",
          "teams"
        ]
      },
      "userUpdateRequest-account-service": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "email_address": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "is_admin": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "sf_contact_id": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "user"
        ]
      },
      "oauthClientUpdate-account-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "allowed_grant_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "team_id": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "name",
          "allowed_grant_types",
          "allowed_scopes"
        ]
      },
      "refreshToken-account-service": {
        "properties": {
          "id": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "integration_client_id": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "client_id",
          "token",
          "scopes",
          "expires_at"
        ]
      },
      "plansSchema-account-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 191
          },
          "plan_name": {
            "type": "string",
            "maxLength": 191
          },
          "display_name": {
            "type": "string",
            "maxLength": 191
          }
        },
        "required": [
          "id",
          "plan_name"
        ]
      },
      "productSchema-account-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 191
          },
          "product_name": {
            "type": "string",
            "maxLength": 200
          },
          "display_name": {
            "type": "string",
            "maxLength": 200
          }
        },
        "required": [
          "id",
          "product_name",
          "display_name"
        ]
      },
      "getProductsSchema-account-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 191
          },
          "product_name": {
            "type": "string",
            "maxLength": 200
          },
          "display_name": {
            "type": "string",
            "maxLength": 200
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "dependent_products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_name": {
                  "type": "string",
                  "maxLength": 200
                },
                "id": {
                  "type": "string",
                  "maxLength": 191
                }
              }
            }
          }
        },
        "required": [
          "id",
          "product_name",
          "display_name"
        ]
      },
      "productDependenciesSchema-account-service": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "maxLength": 191
          },
          "dependency_id": {
            "type": "string",
            "maxLength": 191
          }
        }
      },
      "createProductSchema-account-service": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "maxLength": 200
          },
          "display_name": {
            "type": "string",
            "maxLength": 200
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "product_name",
          "display_name"
        ]
      },
      "roleAssignmentBody-account-service": {
        "type": "object",
        "required": [
          "context",
          "subject_id",
          "object_id"
        ],
        "properties": {
          "context": {
            "type": "string"
          },
          "subject_id": {
            "type": "string"
          },
          "object_id": {
            "type": "string"
          },
          "expiration": {
            "type": "string"
          }
        }
      },
      "roleUpdateBody-account-service": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "expiration": {
            "type": "string"
          }
        },
        "required": [
          "role"
        ]
      },
      "roleReplacementBody-account-service": {
        "type": "object",
        "required": [
          "roles"
        ],
        "properties": {
          "roles": {
            "type": "object",
            "required": [
              "newRoles",
              "oldRoles"
            ],
            "properties": {
              "newRoles": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "context",
                    "subject_id",
                    "object_id"
                  ],
                  "properties": {
                    "context": {
                      "type": "string"
                    },
                    "subject_id": {
                      "type": "string"
                    },
                    "object_id": {
                      "type": "string"
                    },
                    "expiration": {
                      "type": "string"
                    }
                  }
                }
              },
              "oldRoles": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "context",
                    "subject_id",
                    "object_id"
                  ],
                  "properties": {
                    "context": {
                      "type": "string"
                    },
                    "subject_id": {
                      "type": "string"
                    },
                    "object_id": {
                      "type": "string"
                    },
                    "expiration": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "rolePermissions-account-service": {
        "type": "object",
        "properties": {
          "context": {
            "type": "string",
            "maxLength": 191
          },
          "role": {
            "type": "string",
            "maxLength": 191
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 191
            }
          }
        },
        "required": [
          "context",
          "role",
          "permissions"
        ]
      },
      "teamProductAccessMapping-account-service": {
        "type": "object",
        "description": "Map from product name to current access state.",
        "additionalProperties": {
          "type": "string",
          "enum": [
            "active",
            "inactive",
            "view-only"
          ]
        }
      },
      "teamProductAccessDetails-account-service": {
        "type": "object",
        "description": "Map from product name to full access schedule.",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "start_date": {
              "type": "string",
              "format": "date-time",
              "description": "Optional date at which product access should begin."
            },
            "expiration_date": {
              "type": "string",
              "format": "date-time",
              "description": "Optional date at which a product should expire. Null specifies indefinite access."
            },
            "product_id": {
              "type": "string",
              "description": "id of the product."
            },
            "status": {
              "$ref": "#/definitions/teamProductAccessMapping-account-service"
            },
            "expiration_type": {
              "$ref": "#/definitions/teamProductExpirationType-account-service"
            }
          }
        }
      },
      "teamsProductAccessDetails-account-service": {
        "type": "object",
        "description": "Map from team ID to product access map.",
        "additionalProperties": {
          "type": "object",
          "description": "Map from product name to full access schedule.",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "start_date": {
                "type": "string",
                "format": "date-time",
                "description": "Optional date at which product access should begin."
              },
              "expiration_date": {
                "type": "string",
                "format": "date-time",
                "description": "Optional date at which a product should expire. Null specifies indefinite access."
              },
              "product_id": {
                "type": "string",
                "description": "id of the product."
              },
              "status": {
                "$ref": "#/definitions/teamProductAccessMapping-account-service"
              },
              "expiration_type": {
                "$ref": "#/definitions/teamProductExpirationType-account-service"
              }
            }
          }
        }
      },
      "teamProductAccessUpdate-account-service": {
        "type": "object",
        "description": "Map from product id to access update.",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "start_date": {
              "type": "string",
              "format": "date-time",
              "description": "Optional date at which product access should begin."
            },
            "expiration_date": {
              "type": "string",
              "format": "date-time",
              "description": "Optional date at which a product should expire. Null specifies indefinite access."
            },
            "expiration_type": {
              "$ref": "#/definitions/teamProductExpirationType-account-service"
            }
          },
          "additionalProperties": false
        }
      },
      "teamProductExpirationType-account-service": {
        "type": "string",
        "enum": [
          "soft-expire",
          "view-only",
          "access-denied"
        ],
        "description": "Type of product expiration."
      },
      "namespacedTeamSettings-account-service": {
        "type": "object",
        "additionalProperties": {
          
        }
      },
      "namespacedTeamSettingsUpdate-account-service": {
        "type": "object",
        "additionalProperties": {
          
        }
      },
      "fullTeamSettings-account-service": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/definitions/namespacedTeamSettingsUpdate-account-service"
        }
      },
      "resultTeamBulkAddUser-account-service": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "added": {
            "type": "string"
          },
          "failed": {
            "type": "string"
          }
        }
      },
      "getTeamResult-account-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "descendant_team_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 191
            }
          },
          "parent_team_id": {
            "type": "string"
          }
        }
      },
      "createUpdateTeam-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "descendant_team_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 191
            }
          },
          "parent_team_id": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "updateTeam-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "descendant_team_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 191
            }
          },
          "parent_team_id": {
            "type": "string"
          }
        }
      },
      "createUserSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          },
          "sf_contact_id": {
            "type": "string",
            "pattern": "^003E[a-zA-Z0-9](?:.{15}|.{18})$",
            "format": "string",
            "description": "salesforce contact ID"
          },
          "phone_number": {
            "type": "string",
            "format": "string",
            "description": "phone number of user"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "sortable_name",
          "addressable_name",
          "email",
          "password"
        ]
      },
      "updateUserSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          },
          "sf_contact_id": {
            "type": "string",
            "pattern": "^003E[a-zA-Z0-9](?:.{15}|.{18})$",
            "format": "string",
            "description": "salesforce contact ID"
          },
          "phone_number": {
            "type": "string",
            "format": "string",
            "description": "phone number of user"
          }
        },
        "required": [
          "name",
          "sortable_name",
          "addressable_name",
          "email"
        ]
      },
      "resultUserSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          },
          "sf_contact_id": {
            "type": "string",
            "pattern": "^003E[a-zA-Z0-9](?:.{15}|.{18})$",
            "format": "string",
            "description": "salesforce contact ID"
          },
          "phone_number": {
            "type": "string",
            "format": "string",
            "description": "phone number of user"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "createTrialUserSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          },
          "sf_contact_id": {
            "type": "string",
            "pattern": "^003E[a-zA-Z0-9](?:.{15}|.{18})$",
            "format": "string",
            "description": "salesforce contact ID"
          },
          "phone_number": {
            "type": "string",
            "format": "string",
            "description": "phone number of user"
          },
          "password": {
            "type": "string"
          },
          "legacy_team_id": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "sortable_name",
          "addressable_name",
          "email",
          "password"
        ]
      },
      "resultTrialUserSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          },
          "sf_contact_id": {
            "type": "string",
            "pattern": "^003E[a-zA-Z0-9](?:.{15}|.{18})$",
            "format": "string",
            "description": "salesforce contact ID"
          },
          "phone_number": {
            "type": "string",
            "format": "string",
            "description": "phone number of user"
          },
          "id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          }
        }
      },
      "patchUserSchema-account-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          },
          "sf_contact_id": {
            "type": "string",
            "pattern": "^003E[a-zA-Z0-9](?:.{15}|.{18})$",
            "format": "string",
            "description": "salesforce contact ID"
          },
          "phone_number": {
            "type": "string",
            "format": "string",
            "description": "phone number of user"
          },
          "account_id": {
            "type": "string"
          }
        }
      },
      "app-account-service": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "string"
          },
          "settings": {
            "type": "string"
          },
          "failed": {
            "type": "string"
          }
        },
        "required": [
          "app_id",
          "settings"
        ]
      },
      "aisle_diff-diagram-service": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "floorElementsBetween": {
            "type": "integer"
          }
        }
      },
      "aisle-diagram-service": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "floorElementsBetween": {
            "type": "integer"
          }
        },
        "required": [
          "width"
        ]
      },
      "aisles_diff-diagram-service": {
        "type": "object",
        "properties": {
          "vertical": {
            "$ref": "#/definitions/aisle_diff-diagram-service"
          },
          "horizontal": {
            "$ref": "#/definitions/aisle_diff-diagram-service"
          }
        }
      },
      "aisles-diagram-service": {
        "type": "object",
        "properties": {
          "vertical": {
            "$ref": "#/definitions/aisle-diagram-service"
          },
          "horizontal": {
            "$ref": "#/definitions/aisle-diagram-service"
          }
        },
        "required": [
          "vertical",
          "horizontal"
        ]
      },
      "chair_diff-diagram-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "dimensions": {
            "$ref": "#/definitions/chair_dimensions_diff-diagram-service"
          },
          "side": {
            "type": "integer"
          },
          "side_index": {
            "type": "integer"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "top",
              "bottom",
              "left",
              "right",
              "default"
            ]
          },
          "guest_id": {
            "type": "string"
          },
          "custom_chair_id": {
            "type": "string"
          }
        }
      },
      "chair_dimensions_diff-diagram-service": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          }
        }
      },
      "chair_dimensions-diagram-service": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          }
        },
        "required": [
          "width",
          "length"
        ]
      },
      "chair_sides-diagram-service": {
        "type": "object",
        "properties": {
          "side_1_count": {
            "type": "integer"
          },
          "side_2_count": {
            "type": "integer"
          },
          "side_3_count": {
            "type": "integer"
          },
          "side_4_count": {
            "type": "integer"
          }
        }
      },
      "chair_template-diagram-service": {
        "type": "object",
        "properties": {
          "size": {
            "$ref": "#/definitions/chair_dimensions_diff-diagram-service"
          }
        }
      },
      "chair-diagram-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "dimensions": {
            "$ref": "#/definitions/chair_dimensions-diagram-service"
          },
          "side": {
            "type": "integer"
          },
          "side_index": {
            "type": "integer"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "top",
              "bottom",
              "left",
              "right",
              "default"
            ]
          },
          "guest_id": {
            "type": "string"
          },
          "custom_chair_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "side_index"
        ]
      },
      "column-diagram-service": {
        "type": "object",
        "properties": {
          "spacing": {
            "type": "integer"
          }
        }
      },
      "diagram_auto_seat-diagram-service": {
        "type": "object",
        "properties": {
          "guests": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/guest-diagram-service"
            }
          },
          "floor_elements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "update_id": {
            "type": "string"
          }
        },
        "required": [
          "guests"
        ]
      },
      "diagram_clone-diagram-service": {
        "type": "object",
        "properties": {
          "space_id": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "legacy_event_id": {
            "type": "integer"
          }
        },
        "required": [
          "space_id"
        ]
      },
      "diagram_patch-diagram-service": {
        "type": "object",
        "properties": {
          "external_diagram_id": {
            "type": "string"
          },
          "external_event_id": {
            "type": "string"
          },
          "guestlist_id": {
            "type": "string"
          },
          "floor_elements": {
            "type": "object",
            "properties": {
              "updates": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/floor_element_diff-diagram-service"
                }
              },
              "inserts": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/floor_element-diagram-service"
                }
              },
              "deletes": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              }
            }
          },
          "groups": {
            "type": "object",
            "properties": {
              "updates": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/group_diff-diagram-service"
                }
              },
              "inserts": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/groups-diagram-service"
                }
              },
              "deletes": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              }
            }
          },
          "sections": {
            "type": "object",
            "properties": {
              "updates": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/section_diff-diagram-service"
                }
              },
              "inserts": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/sections-diagram-service"
                }
              },
              "deletes": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              }
            }
          },
          "floorPlan": {
            "$ref": "#/definitions/floor_plan-diagram-service"
          },
          "name": {
            "type": "string"
          },
          "team_uploads_id": {
            "type": "string"
          },
          "width": {
            "type": "number"
          },
          "length": {
            "type": "number"
          },
          "deleted": {
            "type": "boolean"
          },
          "rotation": {
            "type": "integer"
          },
          "prefunction_perimeter": {
            "type": "integer"
          },
          "service_perimeter": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          },
          "update_id": {
            "type": "string"
          },
          "layout_id": {
            "type": "string"
          },
          "return_diagram": {
            "type": "boolean"
          },
          "table_numbering": {
            "$ref": "#/definitions/table_numbering-diagram-service"
          },
          "boundary_visibility": {
            "type": "object",
            "properties": {
              "inserts": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              },
              "updates": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              },
              "deletes": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              }
            }
          },
          "roomSettings": {
            "$ref": "#/definitions/room_settings-diagram-service"
          }
        }
      },
      "diagram_reorder_result-diagram-service": {
        "type": "object",
        "properties": {
          "sort_order": {
            "type": "number"
          }
        },
        "required": [
          "sort_order"
        ]
      },
      "diagram_reorder-diagram-service": {
        "type": "object",
        "properties": {
          "targetIndex": {
            "type": "integer"
          }
        },
        "required": [
          "targetIndex"
        ]
      },
      "diagram_seat-diagram-service": {
        "type": "object",
        "properties": {
          "guest_seats": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/guest_seat-diagram-service"
            }
          },
          "update_id": {
            "type": "string"
          }
        },
        "required": [
          "guest_seats"
        ]
      },
      "diagram-diagram-service": {
        "type": "object",
        "properties": {
          "space_id": {
            "type": "integer"
          },
          "session_id": {
            "type": "string"
          },
          "team_uploads_id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "legacy_event_id": {
            "type": "integer"
          },
          "team_id": {
            "type": "string"
          },
          "guestlist_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "floorPlan": {
            "$ref": "#/definitions/floor_plan-diagram-service"
          },
          "width": {
            "type": "number"
          },
          "length": {
            "type": "number"
          },
          "rotation": {
            "type": "integer"
          },
          "prefunction_perimeter": {
            "type": "integer"
          },
          "service_perimeter": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          },
          "floor_elements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/floor_element-diagram-service"
            }
          },
          "groups": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/groups-diagram-service"
            }
          },
          "sections": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/sections-diagram-service"
            }
          },
          "update_id": {
            "type": "string"
          },
          "layout_id": {
            "type": "string"
          },
          "return_diagram": {
            "type": "boolean"
          },
          "table_numbering": {
            "$ref": "#/definitions/table_numbering-diagram-service"
          },
          "boundary_visibility": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "sort_order": {
            "type": "number"
          },
          "external_diagram_id": {
            "type": "string"
          },
          "external_event_id": {
            "type": "string"
          }
        },
        "required": [
          "event_id"
        ]
      },
      "diagrams_clone-diagram-service": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string"
          },
          "legacy_event_id": {
            "type": "integer"
          },
          "old_to_new_space_id_map": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        },
        "required": [
          "event_id",
          "old_to_new_space_id_map"
        ]
      },
      "dimensions-diagram-service": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          },
          "radius": {
            "type": "integer"
          }
        }
      },
      "favorite_patch-diagram-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "favorite-diagram-service": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "legacy_user_id": {
            "type": "integer"
          },
          "team_id": {
            "type": "string"
          },
          "legacy_team_id": {
            "type": "integer"
          },
          "space_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "floor_elements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/floor_element-diagram-service"
            }
          }
        },
        "required": [
          "name",
          "floor_elements"
        ]
      },
      "fire_code-diagram-service": {
        "type": "object",
        "properties": {
          "attendeeCount": {
            "type": "integer"
          },
          "maxCapacity": {
            "type": "integer"
          },
          "exitingRequired": {
            "type": "integer"
          },
          "totalExiting": {
            "type": "integer"
          },
          "usableSpace": {
            "type": "integer"
          }
        }
      },
      "floor_element_diff-diagram-service": {
        "type": "object",
        "properties": {
          "color": {
            "type": "string"
          },
          "dimensions": {
            "$ref": "#/definitions/dimensions-diagram-service"
          },
          "group_id": {
            "type": "string"
          },
          "section_id": {
            "type": "string"
          },
          "is_locked": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          },
          "layer": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "object_meta": {
            "$ref": "#/definitions/object_meta_diff-diagram-service"
          },
          "table_meta": {
            "$ref": "#/definitions/table_meta_diff-diagram-service"
          },
          "position": {
            "$ref": "#/definitions/position_diff-diagram-service"
          },
          "rotation": {
            "type": "integer"
          },
          "layout": {
            "type": "string"
          },
          "font_size": {
            "type": "integer"
          },
          "objectLabelType": {
            "type": "string",
            "enum": [
              "text",
              "icon"
            ]
          },
          "isObjectLabelToggled": {
            "type": "boolean"
          },
          "objectLabelSize": {
            "type": "integer"
          }
        }
      },
      "floor_element-diagram-service": {
        "type": "object",
        "properties": {
          "color": {
            "type": "string"
          },
          "dimensions": {
            "$ref": "#/definitions/dimensions-diagram-service"
          },
          "group_id": {
            "type": "string"
          },
          "section_id": {
            "type": "string"
          },
          "is_locked": {
            "type": "boolean"
          },
          "layer": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "object_meta": {
            "$ref": "#/definitions/object_meta-diagram-service"
          },
          "table_meta": {
            "$ref": "#/definitions/table_meta-diagram-service"
          },
          "position": {
            "$ref": "#/definitions/position-diagram-service"
          },
          "rotation": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "font_size": {
            "type": "integer"
          },
          "objectLabelType": {
            "type": "string",
            "enum": [
              "text",
              "icon"
            ]
          },
          "isObjectLabelToggled": {
            "type": "boolean"
          },
          "objectLabelSize": {
            "type": "integer"
          }
        },
        "required": [
          "color",
          "dimensions",
          "layer",
          "position",
          "rotation",
          "id",
          "layout"
        ]
      },
      "floor_plan-diagram-service": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bookableRoom",
              "spaceTemplate",
              "image",
              "background"
            ]
          },
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "background_type": {
            "type": "string"
          }
        }
      },
      "full_line_connection-diagram-service": {
        "type": "object",
        "properties": {
          "head": {
            "$ref": "#/definitions/line_connection-diagram-service"
          },
          "tail": {
            "$ref": "#/definitions/line_connection-diagram-service"
          }
        },
        "required": [
          "head",
          "tail"
        ]
      },
      "group_diff-diagram-service": {
        "type": "object",
        "properties": {
          "template_config": {
            "$ref": "#/definitions/template_config_diff-diagram-service"
          },
          "favorite_id": {
            "type": "string"
          },
          "groupRotation": {
            "type": "integer"
          }
        }
      },
      "groups-diagram-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "favorite_id": {
            "type": "string"
          },
          "template_config": {
            "$ref": "#/definitions/template_config-diagram-service"
          },
          "groupRotation": {
            "type": "integer"
          }
        },
        "required": [
          "id"
        ]
      },
      "guest_seat-diagram-service": {
        "type": "object",
        "properties": {
          "floor_element_id": {
            "type": "string"
          },
          "chair_id": {
            "type": "string"
          },
          "guest_id": {
            "type": "string"
          }
        },
        "required": [
          "floor_element_id",
          "chair_id"
        ]
      },
      "guest-diagram-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "group_id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "head_line_connection-diagram-service": {
        "type": "object",
        "properties": {
          "head": {
            "$ref": "#/definitions/line_connection-diagram-service"
          },
          "tail": {
            "$ref": "#/definitions/line_connection-diagram-service"
          }
        },
        "required": [
          "head"
        ]
      },
      "layout_clone-diagram-service": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string"
          },
          "legacy_team_id": {
            "type": "integer"
          }
        }
      },
      "layout_patch-diagram-service": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "proposeMetadata": {
            "type": "object",
            "properties": {
              "capacity": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "layout-diagram-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "rotation": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "team_id": {
            "type": "string"
          },
          "space_id": {
            "type": "integer"
          },
          "legacy_team_id": {
            "type": "integer"
          },
          "space_template_id": {
            "type": "integer"
          },
          "bookable_room_id": {
            "type": "integer"
          },
          "floor_elements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/floor_element-diagram-service"
            }
          },
          "groups": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/groups-diagram-service"
            }
          }
        },
        "required": [
          "name",
          "floor_elements"
        ]
      },
      "line_connection-diagram-service": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "ratio_x": {
            "type": "integer"
          },
          "ratio_y": {
            "type": "integer"
          }
        },
        "required": [
          "object_id",
          "ratio_x",
          "ratio_y"
        ]
      },
      "line_connections-diagram-service": {
        "type": "object",
        "$ref": "#/definitions/full_line_connection-diagram-service"
      },
      "meta_diff-diagram-service": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "integer"
          },
          "cols": {
            "type": "integer"
          }
        }
      },
      "meta-diagram-service": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "integer"
          },
          "cols": {
            "type": "integer"
          }
        },
        "required": [
          "rows",
          "cols"
        ]
      },
      "object_meta_diff-diagram-service": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string"
          },
          "legacy_id": {
            "type": "integer"
          },
          "path_def": {
            "type": "string"
          },
          "steps": {
            "type": "integer"
          },
          "tile_dimensions": {
            "$ref": "#/definitions/dimensions-diagram-service"
          },
          "line_thickness": {
            "type": "integer"
          },
          "tents": {
            "$ref": "#/definitions/tents_diff-diagram-service"
          },
          "rope_number": {
            "type": "integer"
          },
          "connections": {
            "$ref": "#/definitions/line_connections-diagram-service"
          },
          "projector_image_type": {
            "type": "string"
          }
        }
      },
      "object_meta-diagram-service": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string"
          },
          "legacy_id": {
            "type": "integer"
          },
          "path_def": {
            "type": "string"
          },
          "steps": {
            "type": "integer"
          },
          "tile_dimensions": {
            "$ref": "#/definitions/dimensions-diagram-service"
          },
          "line_thickness": {
            "type": "integer"
          },
          "tents": {
            "$ref": "#/definitions/tents-diagram-service"
          },
          "rope_number": {
            "type": "integer"
          },
          "connections": {
            "$ref": "#/definitions/line_connections-diagram-service"
          },
          "projector_image_type": {
            "type": "string"
          }
        }
      },
      "position_diff-diagram-service": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          }
        }
      },
      "position-diagram-service": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          }
        },
        "required": [
          "x",
          "y"
        ]
      },
      "room_details-diagram-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          },
          "rotation": {
            "type": "integer"
          },
          "serviceAreaPerimeter": {
            "type": "integer"
          },
          "addedDimension": {
            "type": "integer"
          }
        }
      },
      "room_settings-diagram-service": {
        "type": "object",
        "properties": {
          "fireCode": {
            "$ref": "#/definitions/fire_code-diagram-service"
          },
          "details": {
            "$ref": "#/definitions/room_details-diagram-service"
          }
        }
      },
      "section_diff-diagram-service": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "template_config": {
            "$ref": "#/definitions/template_config_diff-diagram-service"
          }
        }
      },
      "sections-diagram-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "template_config": {
            "$ref": "#/definitions/template_config-diagram-service"
          }
        },
        "required": [
          "id"
        ]
      },
      "spacing_diff-diagram-service": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          }
        }
      },
      "spacing-diagram-service": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          }
        },
        "required": [
          "x",
          "y"
        ]
      },
      "table_diff-diagram-service": {
        "type": "object",
        "properties": {
          "size": {
            "$ref": "#/definitions/dimensions-diagram-service"
          },
          "spacing": {
            "$ref": "#/definitions/spacing_diff-diagram-service"
          },
          "rotation": {
            "type": "integer"
          }
        }
      },
      "table_meta_diff-diagram-service": {
        "type": "object",
        "properties": {
          "chairs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/chair_diff-diagram-service"
            }
          },
          "legacy_id": {
            "type": "integer"
          },
          "removed": {
            "type": "integer"
          },
          "theater_curve": {
            "type": "integer"
          },
          "useCustomSeatNumbering": {
            "type": "boolean"
          },
          "theaterChairNumberOffset": {
            "type": "integer"
          },
          "theaterChairNumberIsOddEven": {
            "type": "string",
            "enum": [
              "odd",
              "even",
              true,
              false
            ]
          },
          "theaterChairNumberIsReverse": {
            "type": "boolean"
          },
          "sectionLabelling": {
            "type": "string"
          },
          "useCustomSectionLabelling": {
            "type": "boolean"
          }
        }
      },
      "table_meta-diagram-service": {
        "type": "object",
        "properties": {
          "chairs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/chair-diagram-service"
            }
          },
          "legacy_id": {
            "type": "integer"
          },
          "removed": {
            "type": "integer"
          },
          "theater_curve": {
            "type": "integer"
          },
          "useCustomSeatNumbering": {
            "type": "boolean"
          },
          "theaterChairNumberOffset": {
            "type": "integer"
          },
          "theaterChairNumberIsOddEven": {
            "type": "string",
            "enum": [
              "odd",
              "even",
              true,
              false
            ]
          },
          "theaterChairNumberIsReverse": {
            "type": "boolean"
          },
          "sectionLabelling": {
            "type": "string"
          },
          "useCustomSectionLabelling": {
            "type": "boolean"
          }
        },
        "required": [
          "chairs"
        ]
      },
      "table_numbering-diagram-service": {
        "type": "object",
        "properties": {
          "allowRepeats": {
            "type": "boolean"
          },
          "evenOnly": {
            "type": "boolean"
          },
          "oddOnly": {
            "type": "boolean"
          },
          "skipNumbers": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "skipNumbersWith": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "startingNumber": {
            "type": "integer"
          }
        }
      },
      "table-diagram-service": {
        "type": "object",
        "properties": {
          "size": {
            "$ref": "#/definitions/dimensions-diagram-service"
          },
          "spacing": {
            "$ref": "#/definitions/spacing-diagram-service"
          },
          "rotation": {
            "type": "integer"
          }
        }
      },
      "tail_line_connection-diagram-service": {
        "type": "object",
        "properties": {
          "head": {
            "$ref": "#/definitions/line_connection-diagram-service"
          },
          "tail": {
            "$ref": "#/definitions/line_connection-diagram-service"
          }
        },
        "required": [
          "tail"
        ]
      },
      "template_config_diff-diagram-service": {
        "type": "object",
        "properties": {
          "setup": {
            "type": "string"
          },
          "table": {
            "$ref": "#/definitions/table_diff-diagram-service"
          },
          "aisles": {
            "$ref": "#/definitions/aisles_diff-diagram-service"
          },
          "meta": {
            "$ref": "#/definitions/meta_diff-diagram-service"
          },
          "column": {
            "$ref": "#/definitions/column-diagram-service"
          },
          "chair": {
            "$ref": "#/definitions/chair_template-diagram-service"
          },
          "chairOrientation": {
            "type": "string"
          },
          "chairType": {
            "type": "string"
          },
          "chevronAngle": {
            "type": "integer"
          },
          "rotation": {
            "type": "integer"
          },
          "relativeRotation": {
            "type": "integer"
          },
          "chairs": {
            "type": "integer"
          },
          "chairSides": {
            "$ref": "#/definitions/chair_sides-diagram-service"
          },
          "floorElementType": {
            "type": "string"
          },
          "locations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "theaterChairNumberOffset": {
            "type": "integer"
          },
          "theaterChairNumberIsOddEven": {
            "type": "string",
            "enum": [
              "odd",
              "even",
              true,
              false
            ]
          },
          "theaterChairNumberIsReverse": {
            "type": "boolean"
          },
          "theaterChairNumbersOmitted": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "theaterCurve": {
            "type": "integer"
          },
          "sectionName": {
            "type": "string"
          },
          "sectionLabelling": {
            "type": "string",
            "enum": [
              "alphabetical",
              "numerical",
              "none"
            ]
          },
          "sectionLabellingRowOffset": {
            "type": "integer"
          },
          "sectionLabellingRowIsReverse": {
            "type": "boolean"
          },
          "sectionLabellingRowsOmitted": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "template_config-diagram-service": {
        "type": "object",
        "properties": {
          "setup": {
            "type": "string"
          },
          "table": {
            "$ref": "#/definitions/table-diagram-service"
          },
          "aisles": {
            "$ref": "#/definitions/aisles-diagram-service"
          },
          "meta": {
            "$ref": "#/definitions/meta-diagram-service"
          },
          "column": {
            "$ref": "#/definitions/column-diagram-service"
          },
          "chevronAngle": {
            "type": "integer"
          },
          "rotation": {
            "type": "integer"
          },
          "relativeRotation": {
            "type": "integer"
          },
          "chair": {
            "$ref": "#/definitions/chair_template-diagram-service"
          },
          "chairs": {
            "type": "integer"
          },
          "chairSides": {
            "$ref": "#/definitions/chair_sides-diagram-service"
          },
          "chairOrientation": {
            "type": "string"
          },
          "chairType": {
            "type": "string"
          },
          "floorElementType": {
            "type": "string"
          },
          "locations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "theaterChairNumberOffset": {
            "type": "integer"
          },
          "theaterChairNumberIsOddEven": {
            "type": "string",
            "enum": [
              "odd",
              "even",
              true,
              false
            ]
          },
          "theaterChairNumberIsReverse": {
            "type": "boolean"
          },
          "theaterChairNumbersOmitted": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "theaterCurve": {
            "type": "integer"
          },
          "sectionName": {
            "type": "string"
          },
          "sectionLabelling": {
            "type": "string",
            "enum": [
              "alphabetical",
              "numerical",
              "none"
            ]
          },
          "sectionLabellingRowOffset": {
            "type": "integer"
          },
          "sectionLabellingRowIsReverse": {
            "type": "boolean"
          },
          "sectionLabellingRowsOmitted": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "setup"
        ]
      },
      "tents_diff-diagram-service": {
        "type": "object",
        "properties": {
          "hor": {
            "type": "integer"
          },
          "ver": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "tents-diagram-service": {
        "type": "object",
        "properties": {
          "hor": {
            "type": "integer"
          },
          "ver": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "hor",
          "ver",
          "type"
        ]
      },
      "bookableRoomItem-property-ingest": {
        "type": "object",
        "description": "an object with information about a bookable room",
        "properties": {
          "name": {
            "type": "string",
            "description": "the name of the bookable room"
          },
          "internal_location": {
            "type": "string",
            "description": "the location of the room within the building"
          },
          "max_capacity": {
            "type": "integer",
            "minimum": 0,
            "description": "the maximum capacity of the bookable room"
          },
          "description": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/itemDescription-property-ingest"
            },
            "description": "an array of bookable room descriptions in different languages"
          },
          "accessibility": {
            "type": "array",
            "description": "an array of strings indicating the bookable room's accessibility",
            "items": {
              "type": "string",
              "enum": [
                "wheelchair_access",
                "hearing_impaired",
                "vision_impaired",
                "in-room_accessibility",
                "accessible_bathroom",
                "roll-in_shower"
              ]
            }
          },
          "setups": {
            "type": "array",
            "description": "an array of objects describing different setups for the bookable room",
            "items": {
              "type": "object",
              "description": "an object with name and capacity information for a setup",
              "properties": {
                "name": {
                  "type": "string",
                  "enum": [
                    "banquet",
                    "reception",
                    "theater",
                    "classroom",
                    "boardroom",
                    "exhibit",
                    "hollow-square",
                    "u-shape",
                    "cocktail-rounds",
                    "crescent-rounds",
                    "e-shape",
                    "perimeter-seating",
                    "royal-conference",
                    "talk-show",
                    "t-shape"
                  ],
                  "description": "the name of the room setup"
                },
                "capacity": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "the capacity of the room using this setup"
                }
              },
              "required": [
                "name",
                "capacity"
              ]
            }
          },
          "dimensions": {
            "type": "object",
            "description": "object describing the dimensions of the room",
            "properties": {
              "sq_ft": {
                "type": "number",
                "minimum": 0,
                "description": "the square footage of the room"
              },
              "width_in_ft": {
                "type": "number",
                "minimum": 0,
                "description": "the width of the room in feet"
              },
              "length_in_ft": {
                "type": "number",
                "minimum": 0,
                "description": "the length of the room in feet"
              },
              "ceiling_height_in_ft": {
                "type": "number",
                "minimum": 0,
                "description": "the height of the ceiling in feet"
              }
            }
          }
        }
      },
      "customFieldItem-property-ingest": {
        "type": "object",
        "description": "an object describing the custom field",
        "properties": {
          "field_type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean"
            ],
            "description": "the type of the field"
          },
          "field_name": {
            "type": "string",
            "description": "the name of the field"
          },
          "field_display_name": {
            "type": "string",
            "description": "the display name of the field"
          },
          "field_value": {
            "type": "string",
            "description": "the value of the fields"
          }
        },
        "required": [
          "field_type",
          "field_name",
          "field_display_name",
          "field_value"
        ]
      },
      "eventType-property-ingest": {
        "type": "string",
        "enum": [
          "Athletic",
          "Catered Meal",
          "Ceremony",
          "Class/Lecture",
          "Concert",
          "Conference",
          "Exhibit",
          "Meeting",
          "Networking",
          "Press Conference",
          "Reception",
          "Seminar",
          "Team Building",
          "Trade Fair",
          "Training"
        ]
      },
      "itemDescription-property-ingest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "the language of the description",
            "enum": [
              "en_US",
              "en_GB",
              "ar_SA",
              "zh_CN",
              "zh_TW",
              "nl_NL",
              "fr_FR",
              "de_DE",
              "iw_IL",
              "it_IT",
              "ja_JP",
              "ko_KR",
              "th_TH",
              "in_ID",
              "pt_PT",
              "ru_RU",
              "es_ES",
              "tr_TR"
            ]
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "language",
          "description"
        ]
      },
      "Properties-property-ingest": {
        "type": "object",
        "properties": {
          "property_id": {
            "type": "string"
          },
          "property_name": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "disable_claim_listing_cta": {
            "type": "boolean"
          },
          "selected_hero_image_id": {
            "type": "string"
          },
          "location": {
            "$ref": "#/definitions/location-property-ingest"
          },
          "property_info": {
            "$ref": "#/definitions/property_info-property-ingest"
          },
          "property_contact": {
            "$ref": "#/definitions/property_contact-property-ingest"
          },
          "property_meeting_info": {
            "$ref": "#/definitions/property_meeting_info-property-ingest"
          },
          "custom_fields": {
            "$ref": "#/definitions/custom_fields-property-ingest"
          }
        },
        "required": [
          "property_id",
          "property_name",
          "brand",
          "location",
          "property_info",
          "property_contact",
          "property_meeting_info"
        ]
      },
      "location-property-ingest": {
        "description": "information about the location of the property",
        "type": "object",
        "properties": {
          "address_line_one": {
            "type": "string",
            "description": "the address of the property"
          },
          "address_line_two": {
            "type": "string",
            "description": "the address of the property(continued)"
          },
          "city": {
            "type": "string",
            "description": "the city that the property is in"
          },
          "state": {
            "type": "string",
            "description": "the state or province that the property is in (for properties in a state or province)"
          },
          "postal_code": {
            "type": "string",
            "description": "the postal code where the property is located"
          },
          "country": {
            "type": "string",
            "description": "the country where the property is located"
          },
          "iso_country": {
            "type": "string",
            "description": "the country in ISO-3166 format"
          },
          "iso_state": {
            "type": "string",
            "description": "the state/province/division in ISO-3166 format"
          },
          "coordinates": {
            "type": "object",
            "description": "the coordinates of the property",
            "properties": {
              "longitude": {
                "type": "number",
                "description": "the longitude of the property"
              },
              "latitude": {
                "type": "number",
                "description": "the latitude of the property"
              }
            }
          }
        },
        "required": [
          "address_line_one",
          "city",
          "country"
        ]
      },
      "property_info-property-ingest": {
        "type": "object",
        "description": "information about the property including its ameneties, accessibility, rooms and more",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "opening_soon",
              "new"
            ],
            "description": "the availability status of the property"
          },
          "accepting_rfp": {
            "type": "boolean",
            "description": "flag indicating if hotel is accepting rfps"
          },
          "opening_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date that the hotel opens"
          },
          "property_description": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/itemDescription-property-ingest"
            },
            "description": "an array of property descriptions in different languages"
          },
          "accessibility": {
            "type": "array",
            "description": "an array of strings indicating the bookable room's accessibility",
            "items": {
              "type": "string",
              "enum": [
                "wheelchair_access",
                "hearing_impaired",
                "vision_impaired",
                "in-room_accessibility",
                "accessible_bathroom",
                "roll-in_shower"
              ]
            }
          },
          "amenities": {
            "type": "array",
            "description": "an array of objects indicating a property's ameneties and their costs",
            "items": {
              "type": "object",
              "properties": {
                "amenity": {
                  "type": "string",
                  "description": "the name of the amenity",
                  "enum": [
                    "dance_floors",
                    "loading_dock",
                    "piano",
                    "portable_heaters",
                    "staging",
                    "a/v_capabilities",
                    "screen_and_projectors",
                    "onsite_catering",
                    "onsite_security",
                    "onsite_meeting_planner",
                    "wifi",
                    "concierge",
                    "multilingual_staff",
                    "room_service",
                    "meeting_rooms",
                    "laundry_service",
                    "dry_cleaning",
                    "complimentary_breakfast",
                    "baggage_storage",
                    "non_smoking_rooms",
                    "heat",
                    "air_conditioning",
                    "desk/workspace",
                    "complimentary_toiletries",
                    "coffee_maker",
                    "cable_tv",
                    "family_friendly_hotel",
                    "childcare",
                    "cribs_available",
                    "rollaway/extra_beds_available",
                    "pet_friendly",
                    "pets_not_allowed",
                    "conference_facilities",
                    "meeting_app",
                    "business_center",
                    "kitchenette",
                    "full_kitchen",
                    "kids_eat_free",
                    "onsite_restaurant",
                    "spa",
                    "health_and_fitness_center",
                    "indoor_pool",
                    "outdoor_pool",
                    "beach",
                    "hot_tub_jacuzzi",
                    "tennis_court",
                    "salon",
                    "hiking",
                    "skiing",
                    "golf_course",
                    "water_park",
                    "handicap_accessible",
                    "free_local_calls",
                    "free_toll_free_calls",
                    "voicemail_box",
                    "gift_shop_on_site",
                    "rental_car_service",
                    "extended_stay",
                    "outdoor_space",
                    "oceanwater_views",
                    "mountain_views",
                    "garden_views",
                    "urban_views",
                    "outside_caterers_allowed",
                    "passkey_enabled",
                    "video_conferencing",
                    "vip_service",
                    "water_sports",
                    "portable_walls",
                    "casino",
                    "semi_private_space",
                    "hip_trendy",
                    "modern_contemporary",
                    "corporate_business",
                    "bar_lounge",
                    "elegant_upscale",
                    "american",
                    "asian",
                    "barbecue",
                    "belgian",
                    "brazilian",
                    "british",
                    "chinese",
                    "comfort_food",
                    "contemporary",
                    "continental",
                    "creole_cajun_southern",
                    "ethiopian",
                    "eurasian",
                    "european",
                    "fondue",
                    "french",
                    "fusion_eclectic",
                    "german",
                    "global",
                    "greek",
                    "indian",
                    "irish",
                    "italian",
                    "japanese",
                    "kosher",
                    "korean",
                    "latin_american",
                    "lebanese",
                    "mediterranean",
                    "mexican_southwestern",
                    "middle_eastern",
                    "moroccan",
                    "seafood",
                    "steakhouse",
                    "sushi",
                    "tapas",
                    "thai",
                    "turkish",
                    "vegetarian",
                    "kitchen_onsite",
                    "alcohol_allowed",
                    "preferred_vendors_only",
                    "all_inclusive",
                    "environmentally_friendly"
                  ]
                },
                "amenity_group": {
                  "type": "string",
                  "description": "the group of the amenity",
                  "enum": [
                    "general_amenities",
                    "event_amenities",
                    "room_amenities",
                    "family_friendly_amenities",
                    "things_to_do",
                    "cuisines"
                  ]
                },
                "cost": {
                  "type": "string",
                  "description": "the cost of the amenity",
                  "enum": [
                    "free",
                    "paid"
                  ]
                }
              },
              "required": [
                "amenity",
                "cost"
              ]
            }
          },
          "location_type": {
            "type": "array",
            "description": "an array of strings indicating a property's location type",
            "items": {
              "type": "string"
            }
          },
          "loyalty_programs": {
            "type": "array",
            "description": "an array of strings indicating a property's loyaly programs",
            "items": {
              "type": "string"
            }
          },
          "price_bracket": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "a number from 1 to 4 indicating the price range of a property"
          },
          "star_rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "the star rating of a hotel"
          },
          "number_guest_rooms": {
            "type": "integer",
            "minimum": 0,
            "description": "the number of guest rooms at a property"
          },
          "number_accessible_guest_rooms": {
            "type": "integer",
            "minimum": 0,
            "description": "the number of accessible guest rooms at a property"
          },
          "parking": {
            "type": "array",
            "description": "an array of strings indicating a property's parking type(s)",
            "items": {
              "type": "object",
              "description": "an object that includes a parking type and cost",
              "properties": {
                "parking_type": {
                  "type": "string",
                  "description": "the type of parking",
                  "enum": [
                    "onsite_parking",
                    "valet_parking",
                    "accessible_parking",
                    "electric_vehicle_charging_station",
                    "airport_shuttle",
                    "area_shuttle",
                    "metro_access",
                    "taxi_service",
                    "car_service",
                    "bus_access",
                    "train_access",
                    "street_parking",
                    "bus_parking"
                  ]
                },
                "cost": {
                  "type": "string",
                  "description": "the cost of parking",
                  "enum": [
                    "free",
                    "paid"
                  ]
                }
              },
              "required": [
                "parking_type",
                "cost"
              ]
            }
          },
          "brand_hierarchy": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "a number indicating where a property falls within the brand hierarchy(higher is better)"
          }
        },
        "required": [
          "status",
          "property_description",
          "number_guest_rooms"
        ]
      },
      "property_contact-property-ingest": {
        "type": "object",
        "description": "contact information for a property",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "the phone number for the property"
          },
          "email_address": {
            "type": "string",
            "format": "email",
            "description": "the email address for the property"
          },
          "social_media": {
            "type": "object",
            "description": "social media information for the company",
            "properties": {
              "facebook": {
                "type": "string",
                "description": "The facebook page of the property"
              },
              "twitter": {
                "type": "string",
                "description": "the twitter page of the property"
              }
            }
          }
        },
        "required": [
          "phone_number",
          "email_address"
        ]
      },
      "property_meeting_info-property-ingest": {
        "type": "object",
        "description": "information about the property pertaining to its meeting space",
        "properties": {
          "max_capacity": {
            "type": "integer",
            "minimum": 0,
            "description": "the max capacity of the all the property's meeting space"
          },
          "number_of_rooms": {
            "type": "integer",
            "minimum": 0,
            "description": "the number of bookable rooms for meetings"
          },
          "total_meeting_space": {
            "type": "number",
            "minimum": 0,
            "description": "the total amount of meeting space in square feet"
          },
          "largest_meeting_room_capacity": {
            "type": "integer",
            "minimum": 0,
            "description": "the capacity of the largest meeting room"
          },
          "certification": {
            "type": "array",
            "description": "an array of strings indicating the property's certifications",
            "items": {
              "type": "string"
            }
          },
          "event_types": {
            "type": "array",
            "description": "an array of strings indicating the event types the property can host",
            "items": {
              "$ref": "#/definitions/eventType-property-ingest"
            }
          },
          "bookable_rooms": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/bookableRoomItem-property-ingest"
            }
          }
        },
        "required": [
          "max_capacity",
          "number_of_rooms",
          "total_meeting_space",
          "bookable_rooms"
        ]
      },
      "custom_fields-property-ingest": {
        "type": "array",
        "description": "an array of objects describing custom fields for a property",
        "items": {
          "$ref": "#/definitions/customFieldItem-property-ingest"
        }
      },
      "Response-property-ingest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "event-settings-event-service": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "id of event"
          },
          "namespace": {
            "type": "string",
            "description": "namespace for an event setting"
          },
          "settings": {
            "type": "object",
            "description": "settings of an namespace for an event"
          }
        },
        "required": [
          "event_id",
          "namespace",
          "settings"
        ]
      },
      "event-settings-settings-event-service": {
        "type": "object",
        "additionalProperties": {
          
        }
      },
      "event-event-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of event"
          },
          "description": {
            "type": "string",
            "description": "description of event"
          },
          "status": {
            "type": "string",
            "description": "status of event"
          },
          "event_id": {
            "type": "string",
            "description": "id of event"
          },
          "start_epoch": {
            "type": "integer",
            "description": "start of epoch"
          },
          "end_epoch": {
            "type": "integer",
            "description": "end of epoch"
          },
          "industry": {
            "type": "string",
            "description": "industry of event"
          },
          "archived": {
            "type": "boolean",
            "description": "archived"
          },
          "deleted": {
            "type": "boolean",
            "description": "deleted"
          },
          "legacy_id": {
            "type": "integer",
            "description": "id map to legacy event"
          },
          "is_public": {
            "type": "boolean",
            "description": "flag if event is public or not"
          }
        },
        "required": [
          "name",
          "event_id",
          "archived",
          "deleted"
        ]
      },
      "industry-event-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "id of industry"
          },
          "name": {
            "type": "string",
            "description": "name of industry"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "session-event-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of session"
          },
          "description": {
            "type": "string",
            "description": "description of session"
          },
          "status": {
            "type": "string",
            "description": "status of session"
          },
          "id": {
            "type": "string",
            "description": "id of session"
          },
          "event_id": {
            "type": "string",
            "description": "id of event"
          },
          "place_id": {
            "type": "string",
            "description": "id of place"
          },
          "parent_id": {
            "type": "string",
            "description": "id of parent"
          },
          "start_epoch": {
            "type": "integer",
            "description": "start of epoch"
          },
          "end_epoch": {
            "type": "integer",
            "description": "end of epoch"
          },
          "archived": {
            "type": "boolean",
            "description": "archived"
          },
          "deleted": {
            "type": "boolean",
            "description": "deleted"
          }
        },
        "required": [
          "name",
          "id",
          "archived",
          "deleted"
        ]
      },
      "user-event-service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "full name of user"
          },
          "sortable_name": {
            "type": "string",
            "description": "last name of user"
          },
          "addressable_name": {
            "type": "string",
            "description": "first name of user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "email address"
          }
        },
        "required": [
          "name",
          "sortable_name",
          "addressable_name",
          "email"
        ]
      },
      "checkinBulk-guest-list-service": {
        "properties": {
          "guests": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of Guest IDs"
          },
          "checked_in": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "0 = Check-in reset, 1 = Check-in, 2 = Check-out"
          }
        },
        "required": [
          "guests"
        ],
        "example": {
          "guests": [
            "99b4ae20-2779-11e6-b0b7-13c2616041ae",
            "99b4ae21-2779-11e6-b0b7-13c2616041ae"
          ],
          "checked_in": 1
        }
      },
      "group-guest-list-service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "guestlist_id": {
            "type": "string"
          },
          "guest_count": {
            "type": "integer"
          },
          "is_named": {
            "type": "boolean"
          },
          "guests": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/guests-guest-list-service"
            }
          }
        },
        "required": [
          "id"
        ],
        "example": {
          "id": "1db84340-2779-11e6-88c6-db7134cc99b6",
          "name": "Group A",
          "guestlist_id": "1dad46c0-2779-11e6-88c6-db7134cc99b6",
          "guest_count": 2,
          "guests": [
            {
              "id": "1db18c80-2779-11e6-88c6-db7134cc99b6",
              "guestlist_id": "1dad46c0-2779-11e6-88c6-db7134cc99b6",
              "first_name": "Test",
              "last_name": "One"
            },
            {
              "id": "1db18c81-2779-11e6-88c6-db7134cc99b6",
              "guestlist_id": "1dad46c0-2779-11e6-88c6-db7134cc99b6",
              "first_name": "Test",
              "last_name": "Two"
            }
          ]
        }
      },
      "groupBulk-guest-list-service": {
        "type": "object",
[...]
