{
	"parser": "@typescript-eslint/parser",
	"env": {
		"jest": true,
		"node": true
	},
	"plugins": [
		"@typescript-eslint",
		"jest"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	]
}